body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(74, 125, 221, 0.8); /* Semi-transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    color: #d1effc;
}

input[type="text"] {
    width: calc(100% - 22px); /* Adjust for padding and border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    background-color: #19227e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0d84d3;
}

ul {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.task-item.completed {
    text-decoration: line-through;
    color: #888;
}

button.delete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete:hover {
    background-color: #e53935;
}
